<ion-header>  
   <ion-toolbar>  
     <ion-buttons slot="start">  
       <ion-menu-button color="dark"></ion-menu-button>   
     </ion-buttons>  
     <ion-title>  
       Tab 1
     </ion-title>  
   </ion-toolbar>   
 </ion-header>  

<ion-content [fullscreen]="true">

  <ion-button expand="block" (click)='play()'>Play</ion-button>
  <ion-button expand="block" (click)='stop()'>Stop</ion-button>
  <!-- autoplay -->
  <audio src="https://radio.chevarea.com/radio/8000/radio.mp3?1612219022" >
    Your browser does not support the <code>audio</code> element.
  </audio>

</ion-content>